
.header-conteiner{
    display: flex;
    background-color:var(--primer-color);
    box-sizing: border-box;
}
.header-content__all{
    width: 60%;
}
.header-content__all > p{
    font-size: 2.8rem;
}

.foto-jesus{
    gap: 4rem;
}
.foto-jesus > img{
   width: 30rem;
   height: 30rem;
}

a > figure{
    display: flex;
    justify-content: center;
    width: 90%;
}
figure .github{
    width: 120px;
    border: 1.2rem solid transparent;
    box-sizing: border-box;
}
figure .linkedin{
    width: 130px;
    border: 1.2rem solid transparent;
    box-sizing: border-box;
}
figure .instagram{
    width: 120px;
    border: 1.2rem solid transparent;
    box-sizing: border-box;
}
figure .blogging{
    width: 120px;

    border: 1.2rem solid transparent;
    box-sizing: border-box; 
}