
.header-conteiner{
    display: flex;
    background-color:var(--primer-color);
    box-sizing: border-box;
}
.main-section__article{
    padding:8rem 0;
}

a > figure{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 200px;
    margin:0 4rem;
}
figure .github{
width: 120px;
height: 120px;
/* margin: 1rem; */
border: 1.2rem solid transparent;
box-sizing: border-box;
}
figure .linkedin{
width: 140px;
height: 140px;
/* margin: 1rem; */
border: 1.2rem solid transparent;
box-sizing: border-box;
}
figure .instagram{
width: 100px;
height: 100px;
/* margin: 2.5rem; */
border: 1.2rem solid transparent;
border-radius: 50%;
}
.github:hover{
    background-color: var(--tercer-color);
    border-radius: 50%;
}
.linkedin:hover{
    background-color: var(--tercer-color);
    border: 1.2rem solid var(--tercer-color);
}
.instagram:hover{
    background-color: var(--tercer-color);
    border: 1.2rem solid var(--tercer-color);
}


