body{
    position: relative;
}

nav{
    height: 70vh;
}
main{
    position: absolute;
    top: 20rem;
}
.text-title{
    font-size: 1.8rem;
}
.datos-proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
}
.proyecto{
    width: 30%;
}
.contenedor-datos__profecionales > div{
    width: 78vw;
    background-color: var(--color-section);
    padding:6rem 0 6rem 0;
}
.contenedor-img{
    margin-bottom: 3rem;
}
.contenedor-img__perfil{
    width: 25rem;
    height: 25rem;
    margin-bottom:0rem;
    margin-top:2rem;
}
.img-foto-perfil{
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
}
.datos-skills{
    width: 60%;
}
.datos-cursos{
    flex-direction: row;
    justify-content: space-between;
    row-gap: 3rem;
}
.diploma{
    width: 30%;
}