:root{
    --primer-color:#16220C;
    --segundo-color:#F39201;
    --tercer-color:#FFA559;
    --cuarto-color:white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Teko', sans-serif;
}
.header-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:var(--primer-color);
    width: 100%;
    height: 75.8rem;
}
.presente{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.header-content{
    display: grid;
    justify-content: center;
    justify-items: center;
    padding: 10rem 0;
    height: 100%;
}
.header-content__all{
    display: grid;
    justify-content: center;
    padding: 0 2rem;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.perfil{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 0px rgba(200,95,66,.4) inset, 0px 0px 0px 16px rgba(255,255,255,.6) inset, 0px 1px 2px rgba(0,0,0,.1);
    width: 26rem;
    height: 26rem;
    background-image:url("/portafolio/icon/foto-min.ico");
}
.header-content__all h1{
    color: var(--cuarto-color);
    font-size: 4rem;
    margin: 2rem 0;
}
.header-content__all > p{
    color: var(--cuarto-color);
    font-size: 2rem;
    margin-bottom:2rem;
}
img{
    border-radius: 50%;
}

/* ---------------------------------------------------------- */
body{
    background-image: url("/portafolio/mobile/mobile.png");
}

.main-conteiner{
    font-family: 'VT323', monospace;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

h2 {
    color: var(--cuarto-color);
    margin-top: .5rem;
    font-size: 1.8rem;
    max-width: 90%;
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.main-section__article{
    display: flex;
    width: 90%;
    height: 200px;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--cuarto-color);
    opacity: .2;
    border-bottom: .2px solid var(--tercer-color);
    border-radius: 1rem;

}
.main-section__article p{
    width: 100%;
    height: auto;
}

.main-article-lista{
    display: flex;
    list-style: none;
}
.main-article__item a {
    color: var(--tercer-color);
    padding:.5rem;
    border-radius: .4rem;
    text-decoration: none;
    font-size: 2rem;
}
a:hover{
    color: gold;
}
a:active{
    color: white;
}

.titulo{
    width: 90%;
    height: 200px;
    min-width: 150px;
    background-color: var(--primer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

/* -------------------------------------------- */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color:var(--primer-color);
    list-style: none;
} 
.footer-class{
    display: flex;
    color: var(--cuarto-color);
    font-size: 1.4rem;
} 

.footer{
    display: flex;
}
.footer a{
    margin-left: 2rem ;
    margin-right: 2rem;
    text-decoration: none;
    color: var(--cuarto-color);
    font-size: 1.4rem;
}
.footer:hover{
    color: gold;
}
.footer:active{
    color: white;
}

