  
    .main-article__item{
        margin: 5px;
    }
    .main-article-social{
        display: flex;
        width: 45%;
        min-width: 40px;
        font-size: 64px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        padding: .5rem;
        border-radius: 3px;
    }
    h1{
        font-size: 8rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    /* ---------------------- */
    body{
        background-image: url("/portafolio/mobile/tablet.png");
    }
    .main-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }

    .main-section__article{
        height: 200px;
        box-sizing: border-box;
    }

    p{
        font-size: 1.6rem;
    }
.footer-class{
    font-size: 2rem;  
    
} 

