
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

.post-contenido > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* .main-article-lista{
    width: 100%;
} */
.main-article-social{
    min-width: 40px;
    font-size: 64px;
    font-size: 1.5rem;
    border-radius: 3rem;
}
.main-article__item{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a > figure{
    display: flex;
    justify-content: center;
    width: 90px;
    height: 90px;
}

.foto-jesus > img{
    border-radius: 3rem;
}

.footer-class{
font-size: 2rem;  

} 

