:root{
    --negro:#242424;

    --segundo-color:#e4cb86;
    --tercer-color: white;
    --color-section:#333;
    --font-color:#bbb9b9;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--tercer-color);
}
html{
    font-size: 52.6%;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Cinzel', serif;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    background-color:var(--negro) ;
   }
.contenedor-datos-cursos{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2.3rem;
    color: var(--segundo-color);
}
.datos-cursos{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    margin: 4rem 0 4rem 0;
    gap: 2rem;
    flex-wrap: wrap;
}
.diploma{
    width: 100%;
    height: auto;
}
.diploma > img{
    width: 100%;
    height: auto;
}
/* -------- botton*/
.botton-flotante{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width:4rem;
    height:4rem;
    border-radius: 50%;
    z-index: 1;
}
.botton-flotante-link{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--tercer-color);
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: var(--segundo-color);
    box-shadow: 0px 0px 18px 0px rgba(254,139,72,1);
    display: flex;
    align-items: center;
}
.user-boton{
    display: flex;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    padding-bottom: 0rem
}
.casa{
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}
/* -------- botton */