:root{
    --negro:#242424;

    --segundo-color:#FE8B48;
    --tercer-color: white;
    --color-section:#333;

    --font-color:#bbb9b9;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--negro);
}
.dato-estatico{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--negro);
    position: fixed;
}
.datos-estatico__contenedor{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    color:var(--tercer-color);
}
h1{
    font-size: 1.8rem;
    font-weight: 500;

}
.link-dato{
  
    text-decoration: none;
    color: var(--tercer-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.dato{
    margin-left: 8rem;
}
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    height: auto;
    justify-content: center;
}
.header-conteiner-porcentaje{
    display: grid;
    border-radius: .5rem .5rem 0 0 ;
    background-color: var(--color-section);
    flex-direction: column;
    width: 100%;
    display: flex;
    margin-top: 7rem;
    padding: 10px 10px 20px 10px;
}
title{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--segundo-color);
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.tarjet{
    width: 100%;
    height: 31px;
    display: grid;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.tarjet > img{
    width: 31px;
    height:31px;
    border-radius: 50%;
}
.tarjet > div{
   margin-left: 1rem;
}
div > p {
    margin: 0;
    font-size: 1.4rem;
    color: var(--tercer-color);
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    height: auto;
    justify-content: center;
    
}
.conteiner-bio{
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
    margin-bottom: 1.5rem;
    background-color: var(--color-section);
    border-radius: 0 0 .5rem .5rem;

}

h2{
    margin-bottom:2rem;
    font-size: 1.6rem;
    color: var(--tercer-color);
}
h3{
    margin-bottom:2rem;
    font-size: 1.6rem;
    color: var(--tercer-color);
    text-align: right;
}
.conteiner-bio p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
    color: var(--tercer-color);
}
figure{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
figure > img{
    width: 70%;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--negro);
} 
.footer-class{
    color: var(--tercer-color);  
    font-size: 1.4rem;
} 
.footer-class:hover{
    color: gold;
}
.footer-class:active{
    color: white;
}
