
.link-dato{
    font-size: 1.4rem;
}
.dato{
    margin-left: 30rem;
}

.header-nav-lista{
    width: 150px;
    height: 6.5rem;
}  
.header-nav-medium{
    width: 50%;
}
.header-nav__item > a {
   font-size: 2rem;
}

.footer-class{  
    font-size: 1.8rem;
} 
