h1{
    font-size: 2.2rem;
}
.link-dato{
    text-decoration: none;
    color: var(--tercer-color);
    font-size: 1.8;
    font-weight: 600;
}
.dato{
    margin-left: 40rem;
}
.header-conteiner-porcentaje{
    width: 70%;
    padding: 65px 0 25px;
}
.header-nav-medium{
    width: 70%;
}
.conteiner-bio{
    width: 70%;
}
title{
   margin-bottom: 3rem;
}
 

