.estatico__contenedor{
    width: 80%;
}
h1{
    font-weight: 500;
}
.link-dato{
    text-decoration: none;
    color: var(--tercer-color);
    font-size: 1.6;
    font-weight: 600;
}
.dato{
    margin-left: 14rem;
}
.header-conteiner-porcentaje{
    justify-content: center;
    width: 80%;
    height: auto;
}
title{
    font-size: 2.8rem;
}
.header-nav-lista{
    width: 130px;
}  
.header-nav-medium{
        width: 80%;
}
.header-nav__item > a {
        font-size: 1.4rem;
}

.conteiner-bio{
    justify-content: center;
    width: 80%;
    height: auto;
}
.conteiner-bio > p {
    margin-bottom: 3rem;
    height: auto;
}
.footer-class{ 
    font-size: 2rem;
} 
