.main-section{
    width: 85%;
}
.header-conteiner{
    display: flex;
    background-color:var(--primer-color);
    box-sizing: border-box;
}
/* .header-nav-left{
    display: flex;
    width: 15%;
    height: 64px;
    color: var(--tercer-color);
    font-size: 3.4rem;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
} */
.header-nav-medium{
    width: 30%;
    min-width: 100px;
    height: 64px;
    order: 1;
    margin-left: 8%;
}
.vacio{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    height: 64px;
    background-color: var(--primer-color);
    order: 2;
}
.header-nav-right {
    display: flex;
    width: 25%;
    min-width: 40px;
    font-size: 64px;
    /* padding-right: 1.0rem;
    padding-left: 2.0rem; */
    order: 3;
    font-size: 1.5rem;
    background-color: var(--primer-color);
    align-items: center;
    padding: .5rem;
    border-radius: 3px;
}

.main-section__article{
    width: 30%;
}
.titulo{
    order: 4;
}
h1{
    font-size: 6rem;
}
.footer a{
    display: none;
}
