:root{
    --negro: #242424;

    --segundo-color:#98CA3F;
    --tercer-color:white;
    --cuarto-color:#A480F2;

    --color-section:#333;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows:auto 1fr auto; 
    background-color:var(--negro) ;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Corben&display=swap');
.header-conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.header-nav-left{
    display: none;
}
.header-nav-medium{
    width: 100%;
    min-width: 100px;
    height: 64px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 3px;
}
.header-nav-lista{
    display: flex;
    list-style: none;
}
.header-nav__item > a {
    color: var(--tercer-color);
    padding:.5rem;
    border-radius: .4rem;
    text-decoration: none;
    font-size: 1.6rem;
}

.header-nav-right {
    display: none;
}
h1{
    color: var(--tercer-color);
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    font-weight: 500;
}
h2{
    color: var(--cuarto-color);
    margin-top: 0.5rem;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    max-width: 90%;
    font-weight: 500;
}
.titulo{
    width: 90%;
    height: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}
.vacio::after{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 140px;
    margin: 0 auto;
    position: absolute;
}

/* ---------------------------------------------------------- */
.main-conteiner{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    min-height: 10px;
}

.main-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    height: auto;  
}
.main-section__article{
    display: flex;
    width: 95%;
    min-height: 10rem;
    flex-direction: column;
    margin: 1.3rem 0 1.3rem 0; 
    border-radius: .3rem;
    padding: 1rem;
    background-color: var(--color-section);
}
.main-section__article:hover{
    opacity: .6;
}
.artile-content > a {
    padding:.5rem;
    border-radius: .4rem;
    text-decoration: none;
    height: auto;
    margin-bottom: 1rem;
}
h3{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--segundo-color);
    font-size: 1.9rem;
    margin-bottom: .7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.contenido-resumen{
    display: flex;
    flex-direction: column;
    height: auto;
}
.artile-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: auto;
    width: 100%;
}
figure{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3rem;
}
figure > img{
    width: 100%;
}
.contenido-resumen > p {
    color: var(--tercer-color);
    font-size: 1.5rem;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.contenido-resumen-img{
    display: flex;
    flex-direction: column;
    height: auto;
}
.contenido-resumen-img > p {
    color: var(--tercer-color);
    font-size: 1.5rem;
    height: auto;
      font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
/* -------------------------- */
/* recomendable no mover */
.tarjet{
    width: 100%;
    height: 31px;
    display: grid;
    display: flex;
    flex-direction: row;
}
.tarjet > img{
    width: 31px;
    height:31px;
    border-radius: 50%;
}
.tarjet > div{
   margin-left: 1rem;
}
div > p {
    margin: 0;
    font-size: 1.2rem;
    color: var(--tercer-color);
}
/* hasta aca */
/* ----------------- */
.botton-flotante{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
.botton-flotante-link{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--tercer-color);
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    background-color: var(--cuarto-color);
    box-shadow: 0px 0px 18px 0px rgba(164,128,242,1);
    display: flex;
    align-items: center;
}
.user-boton{
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding-bottom: 0rem
}
.casa{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
/* -------------------------------------------- */
.contenido-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    list-style: none;
    
}
.footer-class{
    display: flex;
    color: var(--tercer-color);
    font-size: 1.1rem;
} 
.footer{
    display: flex;
}
.footer > a{
    margin-left: 2rem ;
    margin-right: 2rem;
    max-width: 40px;
    text-decoration: none;
    color: var(--tercer-color);
    font-size: 1.1rem;
}


