.main-section{
    width: 85%;
}
.header-conteiner{
    box-sizing: border-box;
}

.header-nav-medium{
    width: 30%;
    min-width: 100px;
    height: 64px;
    order: 1;
    margin-left: 8%;
}
.vacio{
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    height: 64px;
    order: 2;
}
.header-nav-right {
    display: flex;
    width: 25%;
    min-width: 40px;
    font-size: 64px;
    order: 3;
    font-size: 1.5rem;
    align-items: center;
    padding: .5rem;
    border-radius: 3px;
}

.main-section__article{
    width: 30%;
}
.titulo{
    order: 4;
}
h1{
    font-size: 6rem;
}
.footer a{
    display: none;
}
.botton-flotante{
    width:5rem;
    height:5rem;
}
.botton-flotante-link{
    width:5rem;
    height:5rem;
}
.user-boton{
    width: 4rem;
    height: 4rem;
 
}
.casa{
    width: 4rem;
    height: 4rem;
}