
.header-nav__item{
    margin: 5px;
}
.header-nav-medium{
    width: 45%;
    min-width: 100px;
    height: 64px;
}
.header-content__all{
    width: 90%;
}
.header-nav-right {
    display: flex;
    width: 45%;
    min-width: 40px;
    font-size: 64px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 3px;
}
h1{
    font-size: 4rem;
}
h2 {
    font-size: 2.5rem;
}
.vacio::after{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 110px;
}
.main-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.main-section__article{
    width: 45%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.footer-class{
    font-size: 2rem;  
} 
.footer a{
    display: none;
}
