:root{
    --negro: black;
    --segundo-color:#98CA3F;
    --tercer-color:white;
    --cuarto-color:#A480F2;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Lora', serif;
}
body{
    background-image: url('/portafolio/icon/mobile.jpg');
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6.4rem;
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 150px;
    height: auto;
    justify-content: center; 
}
.conteiner-bio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-content: center;
    width: 90%;
    height: auto;
    color: var( --tercer-color);
}
figure{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
figure img{
    width: 80%;
    padding: 2rem;
    border-radius: 2rem;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--segundo-color);
    font-size: 4.2rem;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

h2{
    margin-bottom:2rem;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--tercer-color);
}
h3{
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--tercer-color);
    width: 100%;
}
ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.8rem;

    text-align: left;
    margin-bottom:2rem;
}
p{
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    text-align: justify;
    color: var( --tercer-color);
}
a {
text-decoration: none;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
} 
.footer-class{
    display: flex;
    font-size: 1.4rem;
    color: var( --tercer-color);
} 

