.header-nav-lista{
    width: 130px;
}  
.header-nav-medium{
        width: 80%;
}
.header-nav__item > a {
        font-size: 1.5rem;
}

    .conteiner-bio{
        justify-content: center;
        width: 80%;
        height: auto;
    }
    p{
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
        height: 100px;
    }
    .footer-class{ 
        font-size: 2rem;
    } 
